/*reset start */
html,body,div,h1,h2,h3,h4,h5,h6,a,img,span,ul,ol,li,p,label,form,input,textarea,nav,section,header,footer{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

html,body{
    height: 100%;
    overflow: hidden;
}

p{
    text-align: center;
}

input,a,button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

img{
    width: 100%;
    height: 100%;
}
/* reset end */

/* bgm-icon */
.bgm_ico{
    width: 0.96rem;
    height: 6%;
    background: url(../images/bgm.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 3;
}

.bgm_ico_ani{
    animation: bgm_ico_ani 4s infinite linear;
}

@keyframes bgm_ico_ani{
    0%{
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
/* bgm-icon end */

/* container */
.container{
    width: 100%;
    height: 100%;
    background: url('../images/bg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.sub-title{
    width: 5.053333rem;
    height: 31%;
    background: url('../images/sub-title.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 2%;
    right: 0.346667rem;
}

.title{
    width: 4.68rem;
    height: 19%;
    background: url('../images/title.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-left: -2.34rem;
    margin-top: -9.5%;
}

.p1,.p2,.p3{
    position: absolute;
}

.p1{
    width: 3.786667rem;
    height: 24%;
    background: url('../images/p1.png') no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
}

.p2{
    width: 2.28rem;
    height: 18%;
    background: url('../images/p2.png') no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: 19%;
}

.p3{
    width: 5.613333rem;
    height: 28%;
    background: url('../images/p3.png') no-repeat;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
}

.tada{
    animation-duration: 2s;
    animation-delay: .5s;
}