/* reset start */
html, body, div, h1, h2, h3, h4, h5, h6, a, img, span, ul, ol, li, p, nav, section, header, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

a, a:hover, a:focus, a:visited, a:link {
    display: block;
    text-decoration: none;
}

/* reset end */
.nav {
    width: 100%;
    height: 7%;
    padding: 0.29rem;
    background: url("../images/title.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.nav div {
    /*height:100%;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #a95eae;
}

.nav div:last-child {
    border-right: 0px;
}

.nav .main-content, .nav .voucher100, .nav .voucher300 {
    width: 33.33%;
}

.nav .main-content img {
    width: 1.32rem;
}

.nav .voucher300 img, .nav .voucher100 img {
    width: 1.65rem;
}

.container {
    width: 100%;
    position: relative;
}

.container > img {
    width: 100%;
}

.container .btn {
    position: absolute;
    left: 50%;
    margin-left: -2.42rem;
    bottom: 7vh;
}

.container .btn .back {
    width: 4.84rem;
    height: 6vh;
    background: url("../images/btn_1.png") no-repeat;
    background-size: 100% 100%;
}

